@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

:root {
    --ylw: #fcb600;
    --light-ylw: #F6E7D8;
    --red: #ac0b05;
    --red-variant: #f11;
    --primary: #8f010a;
    --gray-4: #32393a;
    --gray-3: #747474;
    --gray-light: #f0f0f0;

    --info: #2f80ed;
    --success: #07dc61;
    --error: #f64040;
    --warning: #fbc216;
}

*,
*::before,
*::after {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    z-index: 3;
}

* {
    font-family: poppins;
}

/* DESKTOP VERSION */
@media (min-width: 992px) {
}

.navbar .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    transition: width 0.3s;
}

.navbar .nav-link:hover::after {
    width: 100%;
    background-color: white;
}

.navbar .nav-link {
    color: white !important;
}

.cart img {
    margin-top: 0;
}

/* ================== BREADCRUMB ====================== */
.container .breadcrumb{
    padding-top: 90px;
}
.breadcrumb li a{
    color: black;
}


/* ================== STYLING BUTTON ====================== */
/* ===== BUTTON LIHAT MAPS/PETA ===== */
.btn-maps {
    border: none;
    display: flex;
    width: 200px;
    height: 30px;
    padding: 5px 7px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 0;
    line-height: 25px;
    border-radius: 8px;
    background: var(--ylw);
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.25);

}
.btn-maps a{
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.btn-maps:hover{
transition: 0.2s ease-in-out;
scale: 1.03;
font-weight: 700;
}

/* ===== BUTTON KECIL ===== */
.small-button {
    display: flex;
    width: 76px;
    height: 37px;
    padding: 5px 7px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 0;

    color: var(--gray-4);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;

    border-radius: 8px;
    background: var(--ylw);
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.15);

    transition: 0.2s ease-in-out;
}

.small-button:hover {
    scale: 1.03;
}

/* ===== DETAIL BUTTON ===== */
.detail-button {
    width: 200px;
    height: 35px;
    padding: 5px 7px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border: 0;

    color: var(--gray-4);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;

    border-radius: 8px;
    background: var(--ylw);
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.25);

    transition: 0.2s ease-in-out;
}

.detail-button:hover {
    scale: 1.03;
}

/* ===== BUTTON HUBUNGI BIRO ===== */
.btn-hubungi {
    border: none;
    display: flex;
    width: 240px;
    height: 50px;
    padding-top: 12px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border: 0;
    line-height: 25px;
    border-radius: 8px;
    background: var(--primary);
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.25);

}
.btn-hubungi svg{
    padding-right: 5px;
}
.btn-hubungi a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.btn-hubungi:hover{
    transition: 0.2s ease-in-out;
    scale: 1.03;
    font-weight: 700;
}

/* ================== END STYLING BUTTON ====================== */

/* ================== NAVBAR ================== */
.navbar {
    background-color: var(--primary);
    width: 100%;
    z-index: 100;
}

.navbar-brand {
    color: white !important;
    font-weight: 600;
}

.navbar .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    transition: width 0.3s;
}

.navbar .nav-link:hover::after,
.nav-link:focus::after {
    width: 100%;
    background-color: white;
}

.navbar .nav-link {
    color: white !important;
    font-weight: 500 !important;
    margin: 0 10px 0 10px;
}

.cart img {
    margin-top: 0;
}

/* ================== FOOTER ================== */
.footer-wrapper{
    height: auto;
    background-color: var(--primary);
    width: 100%;
}

.footer-wrapper .partner-logo img {
    margin: 5px;
}

.logo p {
    padding-top: 10px;
    text-align: center;
}

.footer h6 {
    color: white;
}

.footer p {
    font-size: 14px;
    color: white;
}

.footer .komen p {
    color: var(--ylw);
    font-size: 16px;
}

.komen .input,
textarea {
    border-radius: 5px;
    border-color: #a6a4a491;
    border-width: 1px;
    width: 100%;
}



.copyright p {
    border-top: 3px solid var(--ylw);
    padding-top: 20px;
    color: white;
    text-align: center;
}



/* ================== HERO HOMEPAGE ================== */
.hero-wrapper {
    height: 100%;
}

.hero-wrapper .hero img {
    width: 100%;
    height: 650px;
    filter: brightness(50%);
    object-fit: cover;
    position: relative;
}

.hero-wrapper .carousel-caption {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 60%;
    text-align: center;
}

.carousel-caption h5 {
    font-weight: 700;
    text-align: center;
    font-size: 4vmax;
    line-height: 1.2em;
    color: var(--gray-light);
}

.carousel-caption p {
    text-align: center;
    color: var(--gray-light);
}

@media screen and (max-width: 800px){
    .hero-wrapper .hero img {
        max-height: 400px;
    }

    .carousel-caption h5 {
        font-weight: 600;
        font-size: 3vmax;
        line-height: 1.2em;
        color: var(--gray-light);
    }

    .carousel-caption p {
        font-size: 10px;
    }
}

@media screen and (max-width: 500px){
    .hero-wrapper .hero img {
        height: 300px;
    }

    .carousel-caption h5 {
        font-weight: 600;
        font-size: 2.5vmax;
        line-height: 1.2em;
        color: var(--gray-light);
    }

    .carousel-caption p {
        font-size: 10px;
    }
}


/* ================== KATALOG ================== */
.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-1 button {
    background-color: var(--primary);
    border: none;
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}

.menu-2 button {
    background-color: var(--ylw);
    border: none;
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}

.menu-button:hover {
    scale: 1.05;
    transition: 0.2s ease-in-out;
}

.katalog .menu p {
    color: var(--gray-4);
}

/* ================== ABOUT US ================== */

.about .about-img img {
    object-fit: cover;
    border-radius: 15px;
    height: 300px;
}

.body-teks {
    background-color: var(--ylw);
    border-radius: 15px;
}

.about .about-teks h3 {
    font-weight: bold;
    text-align: right;
    margin-bottom: 20px;
    color: var(--primary);
}

.about .about-teks p {
    color: var(--primary);
}

.content-about {
    box-sizing: border-box;
    position: relative;
    display: flex;
}

@media screen and (max-width: 768px){
    .content-about {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about .about-img img {
        height: 180px;
        width: 350px;
    }

    .body-teks {
        margin-top: 20px;
    }
}

/* ================== VIDEO PROFILE ================== */
.video-wrapper {
    background-color: var(--primary);
}

.video-title h3 {
    text-align: center;
    font-weight: bold;
    color: white;
}

.video-wrapper .video {
    justify-content: center;
}

.video-wrapper .video iframe{
    padding: 0;
    border-radius: 15px;
    height: 35vw;
    width: 70%;
}

/* ================== KALENDER EVENT ================== */
.kalender-title h3 {
    text-align: center;
    font-weight: bold;
}

.card-kalender h5, p {
    color: #000;
}

.slide-container-kalender {
    margin: 0 30px;
    overflow: hidden;
}

.card {
    background: #fff;
}

.card .image-box {
    height: 200px;
}

.card .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.swiper-wrapper .swiper-slide {
    border-radius: 8px;
}

.card .card-kalender {
    /* display: flex; */
    align-items: center;
    column-gap: 12px;
    padding: 15px;
}

.swiper-navBtn {
    color: #000;
    height: 40px;
    width: 40px;
    /* background: #fff; */
    border-radius: 50%;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 18px;
}

.card-body p {
    color: var(--gray-4);
}

.card-body a {
    text-decoration: none;
    color: black;
}

.card-button .detail-button {
    width: 90%;
    position: relative;
}

@media screen and (max-width: 950px) {
    .card-button .detail-button {
        width: 90%;
        position: relative;
    }
}

/* ================== BERITA TERKINI ================== */
.berita {
    background-color: var(--primary);
}

.berita-title h3 {
    font-weight: bold;
    color: white;
    text-align: center;
}

.slide-container-berita {
    margin: 0 30px;
    overflow: hidden;
}

.berita-wrapper .card {
    width: 100%;
    height: auto;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.berita-wrapper .berita-content a {
    text-decoration: none;
    color: white;
}

.berita-wrapper .berita-content p {
    margin-top: -4%;
}

.berita-wrapper .swiper-slide img {
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    height: 200px;
    filter: brightness(50%);
}

.card-img-overlay {
    margin: 10px;
}

/* ================== KATA MEREKA ================== */
.kata-title h3 {
    font-weight: bold;
    text-align: center;
}

.kata .teks {
    line-height: 0.5rem;
}

.wrapper {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.kata img {
    border-radius: 8px;
    /* display: block; */
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.kata .teks p {
    color: var(--gray-4);
}

@media screen and (max-width: 500px){
    .kata .teks h5 {
        font-size: 1rem;
    }

    .kata .teks p {
        font-size: 0.7rem;
    }
}

/* ================== KOMENTAR ================== */
.slide-container-komentar {
    margin: 0 30px;
    overflow: hidden;
}

.komentar .card-komentar {
    align-items: center;
    column-gap: 12px;
    padding: 15px;
}

/* ================== CERITA WISATAWAN ================== */
.cerita p {
    color: var(--gray-4);
}

.cerita button {
    position: relative;
    margin-top: 100px;
    background-color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.cerita button img {
    width: 25px;
    height: auto;
}

.cerita .nama-wisatawan h3 {
    position: relative;
    text-align: center;
    font-weight: bold;
}

.cerita .gambar-wisatawan img {
    position: relative;
    width: 100%;
    height: 564px;
    border-radius: 10px;
    object-fit: cover;
}

.content-cerita .author h6, small {
    font-weight: 600;
}

/* ================== KALENDER EVENT DETAIL ================== */
.kalender-event p {
    color: var(--gray-4);
}

.body-event {
    gap: 25px;
    box-sizing: border-box;
    position: relative;
    display: flex;
}

.kalender-event button {
    position: relative;
    margin-top: 100px;
    background-color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.kalender-event button img {
    width: 25px;
    height: auto;
}

.kalender-event .judul-event h3 {
    position: relative;
    text-align: center;
    font-weight: bold;
}

.kalender-event .poster-event img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.content-cerita .author h6{
    font-weight: 600;
}

.info-wrapper {
    background-color: var(--light-ylw);
    border-radius: 10px;
}

.event-content h6 {
    font-size: 0.8em;
    font-weight: 600;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.gallery img {
    border-radius: 8%;
    margin: 10px 0;
    width: 270px;
    height: 170px;
    object-fit: cover;
}

@media screen and (max-width: 768px){
.judul-event h3 {
    font-size: 0.7em;
}

    .body-event {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .kalender-event p {
        font-size: 10px;
    }

    .content-cerita .author h6 {
    font-size: 12px;
    }

    .author h6, small {
        line-height: 5px;
    }
}

/* ================== PETA WISATA  ================== */

.container .banner-peta {
    position: relative;
}
.banner-peta img {
    border-radius: 20px;
    filter: brightness(50%);
    width: 100%;
    height: 221px;
    margin-top: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.container .banner-peta .button-back {
    position: absolute;
    top: 28%;
    left: 1%;
    background-color: rgba(255, 255, 255, 0.545);
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.container .btn:hover {
    background-color: white;
}
.container .banner-peta h1 {
    margin: 0;
    color: white;
    font-size: 50px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    align-items: center;
}

/* ================== BIRO PERJALANAN ================== */

.hero-modul img {
    object-fit: cover;
    height: 330px;
    width: 100%;
    position: relative;
}

.hero-modul h1 {
    position: absolute;
    margin-top: -13%;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: 600;
}


/* ============================== PAGE KATALOG ============================= */
/* ==================== HERO KATALOG ===================== */
.hero-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.hero-image img {
    background-size: cover no-repeat;
    height: 350px;
    filter: brightness(60%);
    width: 100%;
    object-fit: cover;
}
.hero-image h1{
    color: white;
    font-size: 50px;
    font-weight: 600;
    position: absolute;
}
.hero-image .hero-content {
    background: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
/* @media screen and (min-width: 768px){
    .hero img {
        height: 300px;
    }
}

@media screen and (min-width: 1400px){
    .hero img {
        height: 400px;
    } */


/* ==================== MENUBAR KATALOG ===================== */



/* ==================== SEARCH KATALOG ===================== */
/* .category-search select {
    width: 300px;
    font-size: 13px;
    color: var(--gray-3);
} */
/* .search .row {
    column-gap: 6px;
} */
/* .input-search {
    margin-left: -100px;
}
.input-search ::placeholder {
    color: #000;
    font-size: 13px;
    color: var(--gray-3);
}
.search form{
    width: 350px;
    height: 46px;
    border-radius: 8px;
    display: inline-block;
    position: relative;
}
.search .form-control{
    border-color: var(--gray-3);
    background-color: var(--gray-light)
}
.input-search svg{
    position: absolute;
    right: 5%;
    top: 25%;
    background-color: var(--gray-light);
    border-color: var(--gray-light);
    border-radius: 50%;
    width: 20px;
    height: 20px;

}
.serach .button svg{
    text-align: center;
} */

.row-search select{
    width: 300px;
}

.input-group form-control{
    width: 300px;
}

/* ==================== CARDLIST HORIZONTAL KATALOG ===================== */
.slide-container .card-wrapper .card{
    border-radius: 8px;
}
.slide-container .card-wrapper{
    position:relative;
    width:100%;
    height:300px;
    z-index:1;
    display:flex;
    transition-property:transform, height;
    box-sizing:content-box;
}
.card-katalog .slide-container .card-wrapper{
    justify-content: space-between;
    column-gap: 12px;
}
.card-katalog .card-body{
    top: 0;
    grid-row-gap: 20px;
    /* padding: 0; */
}
.card-katalog  .image{
    height: 180px;
}
.card-katalog  .image img{
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;

}
.card-katalog .slide-container h5{
    font-size: 15px;
    top: 10px;
}
.card-katalog .button-detail{
    padding-bottom: 0;
    margin-bottom: 0;
    bottom: 0;
}

/* .card-katalog {
    margin-top: 50px;
}

.card-katalog .row {
    justify-content: space-between;
    column-gap: 12px;
}
.card-katalog .row .cardlist{
    width: 200px;
    height: 371px;
    border: 1px solid var(--gray-3);
    border-radius: 8px;
    padding: 0;

}
.cardlist .gambar-card{
    height: 211px;
}
.cardlist .gambar-card img{
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;
}
.cardlist .card-body {
    align-items: center;
    padding: 15px;
} */



/* ================== DESTINASI WISATA ================== */
/* ================== HERO DESTINASI WISATA ================== */



/* ================== MENUBAR DESTINASI WISATA ================== */
@media screen and (min-width: 768px){
    .category .card {
        width: 90%;
        margin: 0 auto;
    }

}
.category .menubar {
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.80);
    margin-top: -50px;
    padding: 22px;
    border-radius: 12px;
    /* height: 13vh; */
}
.category .nav-link{
    color: #000 !important;
    display: block;
    align-items: center;
    /* font-size: 18px; */
    font-weight: 500;
    line-height: normal;
}
.category .nav-link svg{
    padding-right: 7px;
}
/* .category .nav-link:hover::after{
    background-color: transparent;
    height: 0%;
} */

.category .nav-link:hover,
.category .nav-link:focus {
    background-color: var(--primary);
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    stroke: white !important;
    fill: white !important;
    color: white !important;
}

/* .category .nav-item:hover::after,
.category .nav-item:focus::after{
    width: 100%;
    border-color: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    stroke: white !important;
    fill: white !important;

    color: white !important;
    background-color: var(--primary);
} */
/* .category .nav-link::after {
    color: white !important;
    background-color: var(--primary);
    height: 100%;
    margin-top: -20%;
    border-color: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    stroke: white !important;
    fill: white !important;
} */



/* ==================== SEARCH KATALOG ===================== */
/* .category-search select {
    width: 300px;
    font-size: 13px;
    color: var(--gray-3);
} */
/* .search .row {
    column-gap: 6px;
} */
/* .input-search {
    margin-left: -100px;
}
.input-search ::placeholder {
    color: #000;
    font-size: 13px;
    color: var(--gray-3);
}
.search form{
    width: 350px;
    height: 46px;
    border-radius: 8px;
    display: inline-block;
    position: relative;
}
.search .form-control{
    border-color: var(--gray-3);
    background-color: var(--gray-light)
}
.input-search svg{
    position: absolute;
    right: 5%;
    top: 25%;
    background-color: var(--gray-light);
    border-color: var(--gray-light);
    border-radius: 50%;
    width: 20px;
    height: 20px;

}
.serach .button svg{
    text-align: center;
} */

.row-search select{
    width: 300px;
}

.input-group form-control{
    width: 300px;
}

/* ==================== CARDLIST VERTIKAL KATALOG LANDING PAGE===================== */
.card-content {
    width: 250px;
    position: relative;
    border: 1px solid var(--gray-3);
    border-radius: 8px;
}

.card-content img {
    width: 250px;
    min-height: 211px;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.card .card-body {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    align-items: center;
    column-gap: 12px;
    padding: 15px 15px 0 15px;
}

.card-button .detail-button {
    background-color: var(--ylw);
    max-width: 230px;

    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 7%;

    position: relative;
}

.card-button .detail-button a {
    text-decoration: none;
    color: #000;
}


/* ================== STYLING DETAIL KATALOG ================== */
/* ================== HERO DETAIL KATALOG ================== */
.container .banner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner img {
    border-radius: 20px;
    filter: brightness(60%);
    width: 100%;
    height: 350px;
    /* margin-top: 80px; */
    border-radius: 20px;
    object-fit: cover;
    /* max-height: 350px; */
    margin: 0;
}
.detail .button-back{
    top: 5%;
    left: 3%;
    position: absolute;
}
.detail .btn-back {
    top: 10%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.545);
    border: none;
    cursor: pointer;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.banner .content h1 {
    color: white;
    font-weight: 500;
    position: absolute;
    top: 40%;
    left: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner .content h6 {
    color: white;
    font-weight: 500;
    margin-top: 25px;
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 850px){
    .detail .banner {
        width: 100%;
        margin: 0 auto;
    }
    /* .detail .banner .content h1 {
        font-size: 30px;
        top: 0;
    } */
    .detail .btn-back {
        top: 22%;
        left: 3%;
    }
}
@media screen and (max-width: 450px){
    /* .detail .banner .content h1 {
        font-size: 23px;
        top: 0;
        max-height: 200px;
    } */
    .detail .button-back{
        top: 5%;
        left: 5%;
    }
    .detail .btn-back {
        width: 30px;
        height: 30px;
    }
    .detail .btn-back svg {
        width: 20px;
        height: 20px;
    }
}

/* ================== CAROUSEL GALERI ================== */

/* .container .col-md-12 {
    justify-content: space-between;
} */
.detail .galeri {
    /* margin-top: 25px; */
    padding: 0 40px 0 40px;
}
.galeri {
position: relative;
}

.detail .swiper-slide  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.container .tombol {
    color: #000;
    /* height: 40px;
    width: 40px; */
    /* background: red;
    border-radius: 50%; */
    margin: 0;
}

.container .tombol::before,
.container .tombol::after {
    font-size: 18px;
}




/* ================== DESTINASI WISATA ================== */
/* ================== MENU KATEGORI WISATA ================== */
.wisata h4{
    color: black;
    font-size: 18px;
}
.wisata .nav-tabs .nav-item{
    margin: 0;
    padding: 0;
}
.wisata .tab-content {
    background-color: #F6E7D8;
}
.wisata .nav-tabs .link {
    background-color: transparent;
    /* border: 1px solid #F6E7D8; */
    margin: 0;
}
.wisata .nav-tabs .link:hover,
.wisata .nav-tabs .link.active {
    background-color: #F6E7D8;
    border-color: #F6E7D8;
    /* height: 60px; */
}
/* .wisata .tabs:hover::after,
.wisata .tabs:focus::after,
.wisata .tabs.active{
    background-color: red;
} */

/* ================== SEARCH DESTINASI WISATA ================== */



/* .wisata .search {
    justify-content: center;
    margin-top: 50px;
}

.wisata .search .btn {
    width: 250px;
    height: 46px;
    border-radius: 8px;
    border-color: rgba(189, 189, 189, 0.526);
    font-size: 15px;
    text-align: left;
    color: #a6a4a4;
    background-color: var(--gray-light);
}
.wisata .search .btn .dropdown-menu .show ul {
    z-index: 5;
    width: 250px;
}
.wisata .search .form-control {
    background-color: red;
    border-radius: 8px;
    position: relative;
}
.wisata .search .form-control {
    width: 280px;
    height: 46px;
    border-radius: 8px;
    border-color: rgba(189, 189, 189, 0.526);
    background-color: var(--gray-light);
    display: block;
    border: none;
} */

/* ================== CARDLIST DESTINASI WISATA ================== */
/* ================== DETAIL DESTINASI DESA WISATA ================== */
/* ================== deskripsi desa wisata ================== */

@media screen and (max-width: 768px){
        .desc {
            gap: 15px;
            flex-wrap: wrap;
            justify-content: center;
        }
        .desc .desc-img{
            width: 350px;
        }
        .desc .desc-img iframe{
            width: 100%;
            height: 10px;
            display: flex;
            /* justify-content: center;
            align-items: center;
            text-align: center; */
        }
        .desc .desc-teks{
            margin-top: 30px;
        }
        .desc p {
            font-size: 10px;
        }

        .desc h3 {
        font-size: 12px;
        }
    }
.bg {
    background-color: F6E7D8;
}
.desc .desc-img{
        padding: 0 0 0 12px;
        /* position: relative; */
    }
.desc .desc-img iframe {
    /* position: absolute; */
    max-width: 100%;
    height: 100%;
    border-radius: 15px;
}
.desc .desc-teks {
    padding-left: 20px;
}
.desc .desc-teks h3 {
    font-weight: 500;
    font-size: 30px;
}

.desc .desc-teks p {
    margin-top: 20px;
    color: var(--gray-4);
    font-size: 14px;
}
/* LOKASI */
.lokasi h4{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.lokasi .col-md-6 p{
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.lokasi .form-control {
    background-color: none;
    border-color: #000;
    border-radius: 8px;
    width: 300px;
    height: 40px;
}
.btn-tambahkan{
    background-color: #fbc600;
    height: 40px;
    margin-top: 30px;
    border-radius: 8px;
    border-color: #fbc600;
    justify-content: center;
    align-items: center;
}
.btn-tambahkan:hover::after{
    background-color: #fcb600;
    border-color: color(srgb red green blue);
    font-weight: bolder;
    font-size: 15px;;
}
.btn-tambahkan h5{
    font-size: 15px;
    text-align: center;
}
/* MAPS */
.maps .card-title{
    font-size: 25px;
    font-weight: 600;
}


/* ================== RUMAH MAKAN ================== */
/* ================== HERO ================== */
.background-image {
    background: url(../assets/pict/hero-wisata.jpg) no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
    padding: 0;
}

.background-image .hero {
    height: 250px;
    width: 100%;
}

.background-image h1 {
    color: white;
    font-size: 50px;
    font-weight: 500;
}

/* ================== MENU BAR RUMAH MAKAN ================== */
/* .container .menubar{
    margin: 0 80px 0 80px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.40);
    margin-top: -30px;
    padding: 22px;
    border-radius: 12px;
}

.container .menubar img {
    float: left;
    height: 16px;
    margin-right: 7px;
}
.container .menubar h4 {
    font-size: 13px;
    color: black;
}

/* .container .menubar a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    transition: width 0.3s;
    pointer-events: none;
} */

/* .container .menubar a:hover::after,
.container .menubar a:focus::after {
    width: 100%;
    background-color: #8f010a;
} */

/* ================== SEARCH RUMAH MAKAN ================== */

/* .category-search select {
    width: 300px;
}

.input-search {
    margin-left: -100px;
}

.input-search svg {
    position: absolute;
    margin-top: -3.7%;
    margin-left: 28%;
}

.input-search ::placeholder {
    color: #000;
} */

/* .container{
    border-radius: 46px 46px 0px 0px;
    background: #F6E7D8;
} */

/* ================== CARD LIST RUMAH MAKAN ================== */
/* .card-katalog {
    margin-top: 50px;
}

.card-katalog .row {
    justify-content: space-between;
    column-gap: 12px;
}
.card-katalog .row .cardlist{
    width: 200px;
    height: 371px;
    border: 1px solid var(--gray-3);
    border-radius: 8px;
    padding: 0;

}
.cardlist .gambar-card{
    height: 211px;
}

.cardlist .gambar-card img{
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;
}
.cardlist .card-body {
    align-items: center;
    padding: 15px;
} */

/* .cardkuliner .card-body { */
    /* margin: 0 20px 0 25px; */
    /* justify-content: center;
    align-items: center;
} */

/* .cardkuliner .row .card{
    z-index: -1;
}

.cardkuliner .card-body h5 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
}

.cardkuliner .card-body p {
    font-family: Poppins;
    font-size: 15px;
} */

/* .cardkuliner .card-body a {
    font-size: 13px;
    font-weight: 600;
    color: black;
    background-color: #fcb600;
    border-color: #fcb600;
    border-radius: 8px;
    width: 160px;
    height: 36px;
} */

/* .cardkuliner .card-body .btn {
    transition: 0.2s all;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.cardkuliner .card-body .btn:hover {
    background-color: #fcb600;
    border-color: #fcb600;
    font-weight: bolder;
    font-size: 15px;
} */

/* ================== DETAIL RUMAH MAKAN ================== */
/* ================== hero ================== */
.container .resto-img{
    position: relative;
}

.resto-img img {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    width: 100%;
    margin-top: 70px;
    border-radius: 20px;
    object-fit: cover;
    height: 450px;
}

.container h1 {
    margin: 0;
    color: white;
    font-size: 50px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    align-items: center;
}

/* ================== deskripsi rumah makan ================== */
.deskripsi {
    background-color: #F6E7D8;
}

.row .card-title{
    color: #000000;
    font: 600 25px "Poppins", sans-serif;
}

.row .card-text{
    color: #000000;
    font: 400 13px "Poppins", sans-serif;
}

/* ================== cardlist rumah makan ================== */
/* .container .title-resto{
    font: 600 32px "Poppins", sans-serif;
    text-align: center;
}

.cardkuliner {
    margin-top: 50px;
} */

/* .cardkuliner .row {
    justify-content: space-between; */
    /* position: relative; */
/* } */

/* .cardkuliner img { */
    /* position: absolute; */
    /* width: 172px;
    height: 202px;
    border-radius: 8px;
    margin: 21px 15px 21px 15px;
} */

/* .cardkuliner .card-body {
    margin: 0 20px 0 25px;
    justify-content: center;
    align-items: center;
}

.cardkuliner .card-body h5 {
    font-size: 20px;
    font-weight: 600;
}

.cardkuliner .card-body p {
    font-size: 13px;
}

.cardkuliner .card-body a {
    font-size: 13px;
    font-weight: 600;
    color: black;
    background-color: #fcb600;
    border-color: #fcb600;
    border-radius: 8px;
    width: 160px;
    height: 36px;
}

.cardkuliner .card-body .btn {
    transition: 0.2s all;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.cardkuliner .card-body .btn:hover {
    background-color: #fcb600;
    border-color: #fcb600;
    font-weight: bolder;
    font-size: 15px;
} */

.btn-group{
    column-gap: 15px;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn-group .input-button{
    width: 170px;
    height: 27px;
    border-radius: 7px;
    border: 1px solid var(--gray-3);
    align-items: center;
}

.btn-group .add-button{
    width: 107px;
    height: 27px;
    border-radius: 7px;
    border: 1px solid var(--gray-3);
    background-color: var(--ylw);
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.lihat-button{
    display: flex;
    width: 337px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: var(--ylw);
}

/* ================== DETAIL MENU RUMAH MAKAN ================== */
/* hero */
.container .resto-image{
    position: relative;
}

.resto-image img {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    width: 100%;
    margin-top: 70px;
    border-radius: 20px;
    object-fit: cover;
    height: 450px;
}

.container h1 {
    margin: 0;
    color: white;
    font-size: 50px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    align-items: center;
}

/* search menu makan */
.menu-resto .title-heading{
    font: 600 25px "Poppins", sans-serif;
    text-align: center;
}

.menu-resto .search {
    justify-content: center;
    margin-top: 50px;
}

.menu-resto .search h4{
    font-size: 22px;
    font-weight: 600;
    text-align: right;
}

.menu-resto .search .btn {
    width: 250px;
    height: 46px;
    border-radius: 8px;
    border-color: rgba(189, 189, 189, 0.526);
    font-size: 15px;
    text-align: left;
    color: #a6a4a4;
}

.menu-resto .search .dropdown-menu{
    z-index: 5;
}

.menu-resto .search .form-control {
    width: 330px;
    height: 46px;
    border-radius: 8px;
    border-color: rgba(189, 189, 189, 0.526);
}

.menu-resto .search .form-control::placeholder{
    font-size: 15px;
    color: #a6a4a4;
}

.menu-resto .serach .bi {
    position: absolute;
}

/* ================== PENGINAPAN ================== */
/* ================== hero ================== */
#hero-section {
    background: url(../assets/pict/hero-deswisata.png) no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    position: relative;
    padding: 0;
}

#hero-section::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#hero-section .row {
    position: absolute;
    z-index: 1;
    align-items: center;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    width: 1294px;
}

#hero-section h1 {
    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: white;
    margin-bottom: auto;
}

#hero-section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: white;
    position: relative;
}

/* ================== menubar page penginapan ================== */
.container .menubar {
    margin: 0 80px 0 80 px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    margin-top: -30px;
    padding: 22px;
    border-radius: 12px;
}

.container .menubar img {
    float: left;
    height: 16px;
    margin-right: 7px;
    justify-content: center;
}

.container .menubar h4 {
    font-size: 13px;
}

/* ================== search ================== */
.search .row {
    margin: 33px 80px 0 80px;
}

.search .row .cari h4 {
    font-size: 22px;
    color: black;
    padding-right: 0px;
    font-weight: 600;
}

.search .row .cari .btn {
    width: 300px;
    margin-right: 31px;
    border-color: #a6a4a4;
}

.search .row .nada {
    font-size: 15px;
    color: #a6a4a4;
    font-weight: 5;
}

.search .row .input-container .form-control::placeholder {
    color: #a6a4a4;
    font-weight: 5;
    font-size: 15px;
    width: 455px;
    height: 46px;
    position: relative;
}

.search .row .input-container .form-control {
    width: 410px;
    padding-right: 10px;
    border-color: #a6a4a4;
    position: relative;
}

.search .row .input-container img {
    position: absolute;
    top: 380px;
    right: 120px;
    width: 17px;
    height: 17px;
}

/* ================== CARDLIST PENGINAPAN ================== */
.card-container {
    flex-shrink: 0;
    width: 1120px;
    height: 259px;
    position: static;
}
.card-border {
    background: #ffffff;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(221, 221, 221, 0.81);
    border-width: 1px;
    width: 1120px;
    height: 259px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.button-lihat-detail {
    background: #fcb600;
    border-radius: 8px;
    width: 247.7px;
    height: 35.51px;
    position: absolute;
    left: 609.65px;
    top: 183px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
}

/* PENGINAPAN */
/* hero*/
#hero-section{
    background: url(../assets/pict/hero-deswisata.png) no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
    position: relative;
    padding: 0;
}

#hero-section::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.40);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#hero-section .row {
    position: absolute;
    z-index: 1;
    align-items: center;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    width: 1294px;
}

#hero-section h1 {
    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: white;
    margin-bottom: auto;
}

#hero-section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: white;
    position: relative;
}

/* menubar page penginapan */
.container .menubar{
    margin: 0 80px 0 80 px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.40);
    margin-top: -30px;
    padding: 22px;
    border-radius: 12px;
 }

.container .menubar img {
    float: left;
    height: 16px;
    margin-right: 7px;
    justify-content: center
}

.container .menubar h4 {
    font-size: 13px;
}

/* search */
.search .row {
    margin: 33px 80px 0 80px;
}

.search .row .cari h4 {
    font-size: 22px;
    color: black;
    padding-right: 0px;
    font-weight: 600;
}

.search .row .cari .btn {
    width: 300px;
    margin-right: 31px;
    border-color: #a6a4a4;
}

.search .row .nada  {
    font-size: 15px;
    color: #a6a4a4;
    font-weight: 5;
}

.search .row .input-container .form-control::placeholder {
    color: #a6a4a4;
    font-weight: 5;
    font-size: 15px;
    width: 455px;
    height: 46px;
    position: relative;
}

.search .row .input-container .form-control {
    width: 410px;
    padding-right: 10px;
    border-color: #a6a4a4;
    position: relative;
}

.search .row .input-container img {
    position: absolute;
    top: 380px;
    right: 120px;
    width:17px;
    height:17px;
}   

/* CARDLIST PENGINAPAN */
.card-container {
    flex-shrink: 0;
    width: 1120px;
    height: 259px;
    position: static;
  }
  .card-border {
    background: #ffffff;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(221, 221, 221, 0.81);
    border-width: 1px;
    width: 1120px;
    height: 259px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .button-lihat-detail {
    background: #fcb600;
    border-radius: 8px;
    width: 247.7px;
    height: 35.51px;
    position: absolute;
    left: 609.65px;
    top: 183px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
  }
  .lihat-detail {
    color: #000000;
    text-align: center;
    font: 600 13px "Inter", sans-serif;
    position: absolute;
    left: 620.91px;
    top: 192.4px;
    width: 230.9px;
    height: 17.6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fcb600;
    border: none;
  }
.hotel-mawar-asri {
    color: #000000;
    text-align: left;
    font: 600 24px "Poppins", sans-serif;
    position: absolute;
    left: 609.65px;
    top: 15px;
    width: 506.08px;
    height: 29px;
}
.rp-50-000-malam {
    color: #000000;
    text-align: left;
    font: 600 20px "Poppins", sans-serif;
    position: absolute;
    left: 609.65px;
    top: 138px;
    width: 279.73px;
    height: 29px;
}
.desa-joho-trenggalek {
    color: #000000;
    text-align: left;
    font: 400 14px "Roboto", sans-serif;
    position: absolute;
    left: 632.07px;
    top: 60px;
    width: 250.91px;
    height: 15px;
}
.mulai-dari {
    color: rgba(0, 0, 0, 0.9);
    text-align: left;
    font: 400 13px "Poppins", sans-serif;
    position: absolute;
    left: 609.65px;
    top: 121px;
    width: 105.7px;
    height: 17px;
}
.gambar-hotel {
    border-radius: 20px;
    border-style: solid;
    border-color: #7b7979;
    border-width: 1px;
    width: 562.67px;
    height: 259px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.vector {
    position: absolute;
    left: 612.85px;
    top: 61px;
    overflow: visible;
  }
  .hotel-kecil {
    background: rgba(166, 164, 164, 0.26);
    border-radius: 200px;
    padding: 4.59px 9.18px 4.59px 9.18px;
    display: flex;
    flex-direction: row;
    gap: 11.48px;
    align-items: center;
    justify-content: center;
    width: 83.28px;
    height: 24px;
    position: absolute;
    left: 1018.57px;
    top: 20px;
    backdrop-filter: blur(2.3px);
  }
  .hotel {
    color: var(--blackish-green, #112211);
    text-align: left;
    font: 400 12px "Montserrat", sans-serif;
    opacity: 0.75;
    position: relative;
}

/* ================== PAKET WISATA ================== */

/* ================== DETAIL PAKET WISATA ================== */
.deskripsi-paket .deskripsi-wrapper {
    padding: 20px;
    background-color: var(--light-ylw);
    border-radius: 15px;
}

.harga h4 {
    color: var(--primary);
    font-weight: 600;
}

.input-amount {
    box-sizing: border-box;
    position: relative;
    /* display: flex; */
}

.input-amount .input-area {
    width: 11em;
    border: 1px solid var(--gray-3);
    border-radius: 8px;
    text-align: center;
}

.input-amount .add-button {
    width: 100px;
    height: 28px;
    padding: 2px 7px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border: 0;

    color: var(--gray-4);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;

    border-radius: 8px;
    background: var(--ylw);
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.25);

    transition: 0.2s ease-in-out;
}

.add-button:hover {
    scale: 1.03;
}

.toggle-paket-wisata .button-hubungi {
    display: flex;
}


@media screen and (max-width:1200px){
    .input-amount {
        gap: 15px;
        flex-wrap: wrap;
        display: block;
    }

    .input-amount .add-button {
        width: 15em;
        margin-top: 2%;
    }

    .deskripsi-wrapper p {
        font-size: 12px;
    }

    .button-add-amount {
        margin-left: 0;
    }
}

@media screen and (max-width:500px){
    .button-hubungi .btn-hubungi {
        width: 100px;
        height: 40px;
        padding-top: 0;
    }

    .button-hubungi a {
        font-size: 10px;
        margin-top: 5px;
    }

    .button-hubungi svg {
        width: 15px;
        padding-right: 2px;
    }
}

/* ================== PROFILE BIRO ================== */
.deskripsi-profile-wrapper {
    background-color: var(--light-ylw);
    padding: 25px;
}

.deskripsi-biro h4 {
    font-weight: 600;
}

.layanan-biro h3 {
    text-align: center;
    font-weight: 600;
}

@media screen and (max-width:800px){
    .banner .content h1 {
        font-size: 30px;
    }

    .banner .content small {
        margin-top: 5px;
    }

    .deskripsi-profile-wrapper .btn-hubungi {
        width: 200px;
    }

    .deskripsi-biro h4 {
        font-size: 18px;
    }

    .deskripsi-biro p {
        font-size: 10px;
    }
}

@media screen and (max-width:650px){
    .deskripsi-profile-wrapper .btn-hubungi {
        width: 100px;
        height: 30px;
    }
    .deskripsi-profile-wrapper .btn-hubungi {
        padding-top: 0;
    }

    .deskripsi-profile-wrapper .btn-hubungi a {
        font-size: 10px;
    }


    .deskripsi-profile-wrapper .btn-hubungi svg {
        width: 15px;
        padding-right: 2px;
    }
}

/* ================== RESPONSIVE ================== */

