@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

:root {
    --ylw: #fcb600;
    --light-ylw: #f6e7d8;
    --red: #ac0b05;
    --red-variant: #f11;
    --primary: #8f010a;
    --gray-4: #32393a;
    --gray-3: #747474;
    --gray-light: #f0f0f0;

    --info: #2f80ed;
    --success: #07dc61;
    --error: #f64040;
    --warning: #fbc216;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    z-index: 3;
}

.page-content {
    flex-grow: 1;
}

.page-section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background: var(--floral-white); */
}

/* DESKTOP VERSION */
@media (min-width: 992px) {
}

.navbar .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    transition: width 0.3s;
}

.navbar .nav-link:hover::after {
    width: 100%;
    background-color: white;
}

.navbar .nav-link {
    color: white !important;
}

.cart img {
    margin-top: 0;
}

.navbar-cart {
    min-width: 175px;
    text-align: right;
}

#navbar-menus {
    height: 100vh;
}

#navbar-menus .navbar-nav {
    text-align: center;
}

@media screen and (min-width: 768px) {
    #navbar-menus {
        height: auto;
    }

    #navbar-menus .navbar-nav {
        text-align: left;
    }
}

/* ================== STYLING BUTTON ====================== */
/* ===== BUTTON LIHAT MAPS/PETA ===== */
.btn-maps {
    border: none;
    display: flex;
    width: 200px;
    height: 30px;
    padding: 5px 7px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 0;
    line-height: 25px;
    border-radius: 8px;
    background: var(--ylw);
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.25);
}
.btn-maps a {
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.btn-maps:hover {
    transition: 0.2s ease-in-out;
    scale: 1.03;
    font-weight: 700;
}

/* ===== BUTTON KECIL ===== */
.small-button {
    display: flex;
    width: 76px;
    height: 37px;
    padding: 5px 7px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 0;

    color: var(--gray-4);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;

    border-radius: 8px;
    background: var(--ylw);
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.15);

    transition: 0.2s ease-in-out;
}

.small-button:hover {
    scale: 1.03;
}

/* ===== DETAIL BUTTON ===== */
.detail-button {
    width: 200px;
    height: 35px;
    padding: 5px 7px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border: 0;

    color: var(--gray-4);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;

    border-radius: 8px;
    background: var(--ylw);
    /* box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.25); */

    transition: 0.2s ease-in-out;
}

.detail-button:hover {
    scale: 1.03;
}

/* ===== BUTTON HUBUNGI BIRO ===== */
.btn-hubungi {
    border: none;
    display: flex;
    width: 240px;
    height: 40px;
    padding-top: 7px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border: 0;
    line-height: 25px;
    border-radius: 8px;
    background: var(--primary);
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.25);
}
.btn-hubungi svg {
    padding-right: 5px;
}
.btn-hubungi a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.btn-hubungi:hover {
    transition: 0.2s ease-in-out;
    scale: 1.03;
    font-weight: 700;
}

/* ================== END STYLING BUTTON ====================== */

/* ================== NAVBAR ================== */
.navbar {
    background-color: var(--primary);
    width: 100%;
    z-index: 100;
}

.navbar-brand {
    color: white !important;
    font-weight: 600;
}

.navbar .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    transition: width 0.3s;
}

.navbar .nav-link:hover::after,
.nav-link:focus::after {
    width: 100%;
    background-color: white;
}

.navbar .nav-link {
    color: white !important;
    font-weight: 500 !important;
    margin: 0 10px 0 10px;
}

.cart img {
    margin-top: 0;
}

/* ================== FOOTER ================== */
.footer-wrapper {
    height: auto;
    background-color: var(--primary);
    width: 100%;
}

.footer-wrapper .partner-logo img {
    margin: 5px;
}

.logo p {
    padding-top: 10px;
    text-align: center;
}

.alamat-wrapper,
.mail-wrapper,
.phone-wrapper {
    gap: 7px;
}

/* .alamat-wrapper, .mail-wrapper p {
} */

.footer h6 {
    color: white;
}

.footer p {
    font-size: 14px;
    color: white;
}

.footer .komen p {
    color: var(--ylw);
    font-size: 16px;
}

.komen .input,
textarea {
    border-radius: 5px;
    border-color: #a6a4a491;
    border-width: 1px;
    width: 100%;
}

.copyright p {
    border-top: 3px solid var(--ylw);
    padding-top: 20px;
    color: white;
    text-align: center;
}

/* ================== HERO HOMEPAGE ================== */
.hero-wrapper {
    height: 100%;
}

.hero-wrapper .hero img {
    width: 100%;
    height: 650px;
    filter: brightness(40%);
    object-fit: cover;
    position: relative;
}

.hero-wrapper .carousel-caption {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 60%;
    text-align: center;
}

.carousel-caption h5 {
    font-weight: 700;
    text-align: center;
    font-size: 4vmax;
    line-height: 1.2em;
    color: var(--gray-light);
}

.carousel-caption p {
    text-align: center;
    color: var(--gray-light);
}

@media screen and (max-width: 800px) {
    .hero-wrapper .hero img {
        max-height: 400px;
    }

    .carousel-caption h5 {
        font-weight: 600;
        font-size: 3vmax;
        line-height: 1.2em;
        color: var(--gray-light);
    }

    .carousel-caption p {
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {
    .hero-wrapper .hero img {
        height: 300px;
    }

    .carousel-caption h5 {
        font-weight: 600;
        font-size: 2.5vmax;
        line-height: 1.2em;
        color: var(--gray-light);
    }

    .carousel-caption p {
        font-size: 10px;
    }
}

/* ================== KATALOG ================== */
.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-1 button {
    background-color: var(--primary);
    border: none;
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}

.menu-2 button {
    background-color: var(--ylw);
    border: none;
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}

.menu-button:hover {
    scale: 1.05;
    transition: 0.2s ease-in-out;
}

.katalog .menu p {
    color: var(--gray-4);
}

/* ================== ABOUT US ================== */

.about .about-img img {
    object-fit: cover;
    border-radius: 15px;
    height: 300px;
}

.body-teks {
    background-color: var(--ylw);
    border-radius: 15px;
}

.about .about-teks h3 {
    font-weight: bold;
    text-align: right;
    margin-bottom: 20px;
    color: var(--primary);
}

.about .about-teks p {
    color: var(--primary);
}

.content-about {
    box-sizing: border-box;
    position: relative;
    display: flex;
}

@media screen and (max-width: 768px) {
    .content-about {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about .about-img img {
        height: 180px;
        width: 350px;
    }

    .body-teks {
        margin-top: 20px;
    }
}

/* ================== VIDEO PROFILE ================== */
.video-wrapper {
    background-color: var(--primary);
}

.video-title h3 {
    text-align: center;
    font-weight: bold;
    color: white;
}

.video-wrapper .video {
    justify-content: center;
}

.video-wrapper .video iframe {
    padding: 0;
    border-radius: 15px;
    height: 730px;
    width: 100%;
}

/* ================== KALENDER EVENT ================== */
.kalender-title h3 {
    text-align: center;
    font-weight: bold;
}

.card-kalender h5,
p {
    color: #000;
}

.slide-container-kalender {
    margin: 0 35px;
    overflow: hidden;
}

.card {
    background: #fff;
}

.card .image-box {
    height: 200px;
}

.card .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.swiper-wrapper .swiper-slide {
    border-radius: 8px;
}

.card .card-kalender {
    /* display: flex; */
    align-items: center;
    column-gap: 12px;
    padding: 15px;
}

.swiper-navBtn {
    color: #000;
    height: 40px;
    width: 40px;
    /* background: #fff; */
    border-radius: 50%;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 18px;
}

.card-body p {
    color: var(--gray-4);
}

.card-body a {
    text-decoration: none;
    color: black;
}

.card-button .detail-button {
    width: 90%;
    position: relative;
}

@media screen and (max-width: 950px) {
    .card-button .detail-button {
        width: 90%;
        position: relative;
    }
}

/* ================== BERITA TERKINI ================== */
.berita {
    background-color: var(--primary);
}

.berita-title h3 {
    font-weight: bold;
    color: white;
    text-align: center;
}

.slide-container-berita {
    margin: 0 30px;
    overflow: hidden;
}

.berita-wrapper .card {
    width: 100%;
    height: auto;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.newest .berita-terkini {
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    padding: 30px;
}

.newest .berita-terkini h3 {
    text-align: center;
}

.berita-wrapper .berita-content a {
    text-decoration: none;
    color: white;
}

.berita-wrapper .berita-content p {
    margin-top: -4%;
}

.berita-wrapper .swiper-slide img {
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    height: 200px;
    filter: brightness(50%);
}

.card-img-overlay {
    margin: 10px;
}

/* ================== KATA MEREKA ================== */
.kata-title h3 {
    font-weight: bold;
    text-align: center;
}

.kata .teks {
    line-height: 0.5rem;
}

.wrapper {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.kata img {
    border-radius: 8px;
    /* display: block; */
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.kata .teks p {
    color: var(--gray-4);
}

.kata .card-kata button a {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 500px) {
    .kata .teks h5 {
        font-size: 1rem;
    }

    .kata .teks p {
        font-size: 0.7rem;
    }
}

/* ================== KOMENTAR ================== */
.slide-container-komentar {
    margin: 0 30px;
    overflow: hidden;
}

.komentar .card-komentar {
    align-items: center;
    column-gap: 12px;
    padding: 15px;
}

/* ================== CERITA WISATAWAN ================== */
.cerita p {
    color: var(--gray-4);
}

.cerita button {
    position: relative;
    margin-top: 100px;
    background-color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.cerita button img {
    width: 25px;
    height: auto;
}

.cerita .nama-wisatawan h3 {
    position: relative;
    text-align: center;
    font-weight: bold;
}

.cerita .gambar-wisatawan img {
    position: relative;
    width: 100%;
    height: 564px;
    border-radius: 10px;
    object-fit: cover;
}

.content-cerita .author h6,
small {
    font-weight: 600;
}

/* ================== KALENDER EVENT DETAIL ================== */
.kalender-event p {
    color: var(--gray-4);
}

.body-event {
    gap: 25px;
    box-sizing: border-box;
    position: relative;
    display: flex;
}

.kalender-event button {
    position: relative;
    margin-top: 100px;
    background-color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.kalender-event button img {
    width: 25px;
    height: auto;
}

.kalender-event .judul-event h3 {
    position: relative;
    text-align: center;
    font-weight: bold;
}

.kalender-event .poster-event img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.content-cerita .author h6 {
    font-weight: 600;
}

.info-wrapper {
    background-color: var(--light-ylw);
    border-radius: 10px;
}

.event-content h6 {
    font-size: 0.8em;
    font-weight: 600;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.gallery img {
    border-radius: 8%;
    margin: 10px 0;
    width: 270px;
    height: 170px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .judul-event h3 {
        font-size: 0.7em;
    }

    .body-event {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .kalender-event p {
        font-size: 10px;
    }

    .content-cerita .author h6 {
        font-size: 12px;
    }

    .author h6,
    small {
        line-height: 5px;
    }
}

/* ================== PETA WISATA  ================== */

.container .banner-peta {
    position: relative;
}
.banner-peta img {
    border-radius: 20px;
    filter: brightness(50%);
    width: 100%;
    height: 221px;
    margin-top: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.container .banner-peta .button-back {
    position: absolute;
    top: 28%;
    left: 1%;
    background-color: rgba(255, 255, 255, 0.545);
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.container .btn:hover {
    background-color: white;
}
.container .banner-peta h1 {
    margin: 0;
    color: white;
    font-size: 50px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    align-items: center;
}

/* ================== BIRO PERJALANAN ================== */

.hero-modul img {
    object-fit: cover;
    height: 330px;
    width: 100%;
    position: relative;
}

.hero-modul h1 {
    position: absolute;
    margin-top: -13%;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: 600;
}

/* ============================== PAGE KATALOG ============================= */
/* ================== BREADCRUMB ====================== */
.container .breadcrumb {
    padding-top: 90px;
}
.breadcrumb li a {
    color: black;
    font-weight: bold;
}

/* ==================== HERO KATALOG ===================== */
.hero-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.hero-image img {
    background-size: cover no-repeat;
    height: 350px;
    filter: brightness(60%);
    width: 100%;
    object-fit: cover;
}
.hero-image h1 {
    color: white;
    font-size: 50px;
    font-weight: 600;
    position: absolute;
}
.hero-image .hero-content {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* ==================== MENUBAR KATALOG ===================== */

/* ==================== SEARCH KATALOG ===================== */
.row-search select {
    width: 300px;
}

.input-group form-control {
    width: 300px;
}

.row .btn-cari {
    width: 50px;
    border-radius: 0 8px 8px 0;
}

/* search destinasi wisata */
.row .input-group .form-control{
    height: 45px;
    border-radius: 10px;
}
.row .input-group button{
    border-radius: 10px;
}
.row .search select{
    border-radius: 10px;
}

/* search destinasi wisata */
.row .input-group .form-control{
    height: 45px;
    border-radius: 10px;
}
.row .input-group button{
    border-radius: 10px;
}
.row .search select{
    border-radius: 10px;
}

/* ==================== CARDLIST HORIZONTAL KATALOG ===================== */
.card-katalog .image {
    height: 180px;
}
.card-katalog .image img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;
}
.card-katalog .slide-container h5 {
    font-size: 15px;
    top: 10px;
}
.card-katalog .button-detail {
    padding-bottom: 0;
    margin-bottom: 0;
    bottom: 0;
}
*/ .card-katalog {
    margin-top: 50px;
}

.card-katalog .row {
    justify-content: space-between;
    column-gap: 12px;
}
.card-katalog .row .cardlist {
    width: 200px;
    height: 371px;
    border: 1px solid var(--gray-3);
    border-radius: 8px;
    padding: 0;
}
.cardlist .gambar-card {
    height: 211px;
    position: relative;
}
.cardlist .gambar-card img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;
}
.cardlist .card-body {
    align-items: center;
    padding: 15px;
}

/* ==================== CARDLIST VERTIKAL KATALOG LANDING PAGE===================== */

.card .card-body {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    align-items: center;
    column-gap: 12px;
    padding: 15px 15px 0 15px;
    position: relative;
}

.card-button .detail-button {
    background-color: var(--ylw);

    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 10%;

    position: relative;
}

.card-button .detail-button a {
    text-decoration: none;
    color: #000;
}

/* ============================== STYLING DETAIL KATALOG ============================= */
/* ================== HERO DETAIL KATALOG ================== */
.container .banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner img {
    border-radius: 20px;
    filter: brightness(40%);
    width: 100%;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    margin: 0;
}
.detail .button-balik {
    top: 5%;
    left: 3%;
    position: absolute;
}
.detail .btn-back {
    /* top: 10%;
    left: 50%; */
    background-color: rgba(255, 255, 255, 0.545);
    border: none;
    cursor: pointer;
    border-radius: 100%;
    width: 10px;
    height: 10px;
}
.banner .content h1 {
    color: white;
    font-weight: 500;
    position: absolute;
    top: 40%;
    left: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner .content h6 {
    color: white;
    font-weight: 500;
    margin-top: 25px;
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 850px) {
    .detail .banner {
        width: 100%;
        margin: 0 auto;
    }
    .banner img {
        height: 250px;
    }
    .detail .banner .content h1 {
        font-size: 28px;
    }
    .detail .button-balik .btn-back {
        width: 35px;
        height: 35px;
    }
    .detail .button-balik .btn-back svg{
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width: 450px) {
    .banner img {
        height: 200px;
    }
    .detail .banner .content h1 {
        font-size: 25px;
    }
    .detail .button-balik {
        left: 5%;
    }
    .detail .button-balik .btn-back {
        width: 25px;
        height: 25px;
    }
    .detail .button-balik .btn-back svg{
        width: 13px;
        height: 15px;
    }
}

/* ================== CAROUSEL GALERI DETAIL KATALOG ================== */
.detail .galeri {
    /* margin-top: 25px; */
    padding: 0 40px 0 40px;
}
.galeri {
    position: relative;
}
.detail .swiper-slide {
    height: auto;
    width: auto;
}
.detail .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.container .tombol {
    color: #000;
}

.container .tombol::before,
.container .tombol::after {
    font-size: 18px;
}

/* ================== DESTINASI WISATA ================== */
/* ========== MENUBAR DESTINASI WISATA ========= */
.menubar-tab {
    margin-top: -30px;
}

.menubar-tab .card {
    width: 100%;
}

@media screen and (min-width: 768px){
    .menubar-tab .card {
        width: 90%;
        margin: 0 auto;
    }
}

.menubar-tab .nav {
    gap: 2rem;
}

.menubar-tab .nav-link {
    color: #000;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem .8rem;
    border-radius: 10px;
    font-weight: 400 !important;
}

.menubar-tab .nav-link:hover,
.menubar-tab .nav-link:focus,
.menubar-tab .nav-link.active {
    border: 0;
    background: #8F010A;
    color: #fff;
}

.menubar-tab .nav-link:hover svg,
.menubar-tab .nav-link:focus svg,
.menubar-tab .nav-link.active svg {
    fill: #fff !important;
    stroke: white !important;
}

/* =================CARDLIST WISATA================ */
/* style card pertama */
.card-2{
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgba(165, 165, 165, 0.584);
    filter: drop-shadow(2px 0px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    height: 260px;
}
.card-wrapper-2 .card-2{
    width: 12rem;
    margin: 10px;
}
.card-2 .content-img{
    height: 160px;
}
.card-2 .card-img-top{
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}
.card-2 .card-body {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    align-items: center;
    padding: 5px 15px 0 15px;
    text-decoration: none;
    position: absolute;
    width: 100%;
}
.card-2 .card-body h5{
    font-size: 16px;
}
.card-body .card-btn{
    padding: 0 15px 0 15px;
}
.card-btn .detail-button {
    width: 90%;
    position: absolute;
    background-color: var(--ylw);
    bottom: 4%;
    align-items: center;
    display: flex;
    justify-content: center;
}



/* ================== DETAIL DESTINASI WISATA ================== */
/* ================== MENU KATEGORI WISATA ================== */
.wisata h4 {
    color: black;
    font-size: 18px;
}
/* .wisata .nav-tabs{
    margin-left: 50px;
} */
.wisata .nav-tabs .nav-item{
    margin: 0;
    padding: 0;
}
.wisata .tab-content {
    background-color: #F6E7D8;
    border-radius: 3% 3% 0 0;
}
.wisata .nav-tabs .link {
    background-color: transparent;
    margin: 0;
}
.wisata .nav-tabs .link:hover{
    background-color: #F6E7D8;
    border-color: #F6E7D8;
}
.wisata .nav-tabs .link.active{
    background-color: #F6E7D8;
    border-color: #F6E7D8;
    scale: 1.3;
}

/* ================== deskripsi desa wisata ================== */

@media screen and (max-width: 768px){
        .desc {
            gap: 15px;
            flex-wrap: wrap;
            justify-content: center;
        }
        .desc .desc-img iframe{
            display: flex;
            padding: 12px;
        }
        .bg .desc .desc-teks{
            padding-top: 20px;
        }
}
.bg {
    background-color: var(--light-ylw);
}
.desc .desc-img{
    padding: 0 0 0 12px;
    }
.desc .desc-img{
    width: 100%;
    height: 100%;
}
.desc .desc-img iframe {
    border-radius: 15px;
}
.desc .desc-teks {
    padding-left: 20px;
}
.desc .desc-teks h5 {
    font-weight: 600;
    font-size: 23px;
}

.desc .desc-teks p {
    margin-top: 20px;
    color: var(--gray-4);
    font-size: 14px;
}


/*================= RESPONSIVE FONT DETAIL KATALOG ================*/
@media screen and (max-width: 770px){
    .harga-detail .row .input-wrapper{
        width: 250px;
      }
    .harga-detail .row .btn-tambahkan{
        width: 250px;
    }
      /* .desc p {
        font-size: 10px;
    }
    .desc h5 {
        font-size: 18px;
        font-weight: 600;
    }
    .lokasi-nada  h5 {
        font-weight: 600;
        font-size: 18px;
    }
    .lokasi .harga-detail h6{
        font-size: 10px;
    }
    .maps h5 .card-title {
        font-size: 18px;
        font-weight: 600;
    } */
}
/*================= LOKASI ================*/
@media screen and (max-width: 980px){
    .lokasi-nada .harga-detail{
    margin-top: 40px;
}
}

.lokasi-nada .lokasii h5{
    font-weight: 600;
    font-size: 23px;
}

.lokasi-nada .harga-detail h6{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.lokasi-nada .harga-detail p {
    color: black;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.lokasi-nada .form-control {
    background-color: none;
    border-color: #000;
    border-radius: 8px;
    height: 40px;
    width: 300px;
}
.harga-detail .btn-tambahkan {
    background-color: #fbc600;
    height: 40px;
    width: 300px;
    border-radius: 8px;
    border-color: transparent;
    justify-content: center;
    align-items: center;
}
.btn-tambahkan:hover {
    scale: 1.03;
}
.row .btn-tambahkan h6 {
    font-size: 15px;
    text-align: center;
}
/* ============quantity input number ==============*/

.lokasi-nada .harga-detail{
    background-color: var(--light-ylw);
    border-radius: 20px;
    width: 300px;
}
.harga-detail .input-wrapper{
    height: 40px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 8px;
    border: 1px solid var(--gray-3);
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  }
  .harga-detail .input-wrapper span{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
  }
  .input-wrapper span.num{
    font-size: 17px;
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
    pointer-events: none;
    padding-left: 60px;
    padding-right: 60px;
  }

/* ================MAPS================= */
.maps .card-title {
    font-size: 23px;
    font-weight: 600;
}

/* ================== RUMAH MAKAN ================== */
/* ================== HERO ================== */
.background-image {
    background: url(../assets/pict/hero-wisata.jpg) no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
    padding: 0;
}

.background-image .hero {
    height: 250px;
    width: 100%;
}

.background-image h1 {
    color: white;
    font-size: 50px;
    font-weight: 500;
}

/* ================== DETAIL RUMAH MAKAN ================== */
/* =========== hero detail rumah makan =========== */
/* .container .resto-img{
    position: relative;
}

.resto-img img {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    width: 100%;
    margin-top: 70px;
    border-radius: 20px;
    object-fit: cover;
    height: 450px;
} */

.container .resto-img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resto-img img {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    width: 100%;
    /* margin-top: 15px; */
    border-radius: 20px;
    object-fit: cover;
    height: 450px;
}

.container h1 {
    color: white;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container .button-back{
    top: 5%;
    left: 3%;
    position: absolute;
}
.container .btn-back {
    top: 10%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.545);
    border: none;
    cursor: pointer;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

/* ================== deskripsi rumah makan ================== */
.deskripsi {
    background-color: #f6e7d8;
}

.row .card-title {
    color: #000000;
    font: 600 25px "Poppins", sans-serif;
}

.row .card-text {
    color: #000000;
    font: 400 13px "Poppins", sans-serif;
}

/* ================== cardlist detail rumah makan ================== */
.btn-group {
    column-gap: 12px;
    display: inline-flex;
    /* align-items: flex-start; */
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 10px;
}

.btn-group .input-button {
    width: 170px;
    height: 27px;
    border-radius: 7px;
    border: 1px solid var(--gray-3);
    align-items: center;
    text-align: center;
    font-family: Poppins;
    font-size: 11px;
    font-weight: 500;
}

.btn-group .add-button{
    width: 107px;
    height: 27px;
    border-radius: 7px;
    border: 1px solid var(--gray-3);
    background-color: var(--ylw);
    align-items: center;
    text-align: center;
    font-family: Poppins;
    font-size: 11px;
    font-weight: 500;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-lihat {
    justify-content: center;
}

.lihat-button {
    display: flex;
    width: 250px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--ylw);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}

/* ================== DETAIL MENU RUMAH MAKAN ================== */
/* =========================hero============= */
.container .resto-image {
    position: relative;
}

.resto-image img {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    width: 100%;
    margin-top: px;
    border-radius: 20px;
    object-fit: cover;
    height: 450px;
}

.container h1 {
    color: white;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*====================== search menu makan================= */
.menu-resto .title-heading {
    font: 600 25px "Poppins", sans-serif;
    text-align: center;
}

.menu-resto .search {
    justify-content: center;
    margin-top: 50px;
}

.menu-resto .search h4 {
    font-size: 22px;
    font-weight: 600;
    text-align: right;
}

.menu-resto .search .btn {
    width: 250px;
    height: 46px;
    border-radius: 8px;
    border-color: rgba(189, 189, 189, 0.526);
    font-size: 15px;
    text-align: left;
    color: #a6a4a4;
}

.menu-resto .search .dropdown-menu {
    z-index: 5;
}

.menu-resto .search .form-control {
    width: 330px;
    height: 46px;
    border-radius: 8px;
    border-color: rgba(189, 189, 189, 0.526);
}

.menu-resto .search .form-control::placeholder {
    font-size: 15px;
    color: #a6a4a4;
}

.menu-resto .serach .bi {
    position: absolute;
}

/* ================== PENGINAPAN ================== */

/* ================== PAKET WISATA ================== */
/* ============SEARCH BAR========= */
.paket .form-control{
    height: 45px;
    border-radius: 10px;
}
.paket button{
    border-radius: 10px;
}
.card-paket {
    background-color: var(--light-ylw);
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
}

/* ================== DETAIL PAKET WISATA ================== */
.deskripsi-paket .deskripsi-wrapper {
    padding: 20px;
    background-color: var(--light-ylw);
    border-radius: 15px;
}

.harga h4 {
    color: black;
    font-weight: 600;
}
.harga h6{
    font-size: 20px;
}

/* .input-amount {
    box-sizing: border-box;
    position: relative;
}

.input-amount .input-area {
    width: 11em;
    border: 1px solid var(--gray-3);
    border-radius: 8px;
    text-align: center;
} */

.input-amount .add-button {
    width: 300px;
    height: 40px;
    padding: 7px 7px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border: 0;

    color: var(--gray-4);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;

    border-radius: 8px;
    background: var(--ylw);
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.25);

    transition: 0.2s ease-in-out;
}

.add-button:hover {
    scale: 1.03;
}

.toggle-paket-wisata .button-hubungi {
    display: flex;
}
.toggle-paket-wisata .button-hubungi .btn-hubungi {
    color: white;
}

@media screen and (max-width: 740px) {
    /* .input-amount {
        gap: 15px;
        flex-wrap: wrap;
        display: block;
    } */
    .tombol .btn-hubungi {
        width: 150px;
    }
    .input-amount .add-button {
        margin-top: 2%;
        width: 200px;
    }
    .input-amount .input-wrapper-2 {
        width: 200px;
    }
    .deskripsi-wrapper p {
        font-size: 12px;
    }

    .button-add-amount .add-button{
        margin-top: 10px;
    }
    .toggle-paket-wisata .button-hubungi .btn-hubungi {
        font-size: 12px;
        padding: 7px;
    }

}

@media screen and (max-width: 500px) {
    .input-amount .add-button {
        font-size: 12px;
    }
    .button-hubungi .btn-hubungi {
        width: 100px;
        height: 40px;
        padding-top: 0;
    }

    .button-hubungi a {
        font-size: 10px;
        margin-top: 5px;
    }

    .button-hubungi svg {
        width: 15px;
        padding-right: 2px;
    }
}
/*=========== quantity input number ================*/
.input-wrapper-2{
    height: 40px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 8px;
    border: 1px solid var(--gray-3);
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  }
  .input-wrapper-2 span{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
  }
  .input-wrapper-2 span.num{
    font-size: 16px;
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
    pointer-events: none;
    padding-left: 35px;
    padding-right: 35px;
  }
/* ================== PROFILE BIRO ================== */
.deskripsi-profile-wrapper {
    background-color: var(--light-ylw);
    padding: 25px;
}

.deskripsi-biro h4 {
    font-weight: 600;
}

.layanan-biro h3 {
    text-align: center;
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    .banner .content h1 {
        font-size: 30px;
    }

    .banner .content small {
        margin-top: 5px;
    }

    .deskripsi-profile-wrapper .btn-hubungi {
        width: 200px;
    }

    .deskripsi-biro h4 {
        font-size: 18px;
    }

    .deskripsi-biro p {
        font-size: 10px;
    }
}

@media screen and (max-width: 650px) {
    .deskripsi-profile-wrapper .btn-hubungi {
        width: 100px;
        height: 30px;
    }
    .deskripsi-profile-wrapper .btn-hubungi {
        padding-top: 0;
    }

    .deskripsi-profile-wrapper .btn-hubungi a {
        font-size: 10px;
    }

    .deskripsi-profile-wrapper .btn-hubungi svg {
        width: 15px;
        padding-right: 2px;
    }
}

/* ================== TENTANG TRENGGALEK ================== */
.tentang-trenggalek {
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    padding: 30px;
}

.tentang-trenggalek p {
    color: black !important;
}

/* ================== KALKULATOR ================== */

.kalkulator button {
    border: none;
    background-color: transparent;
}

.kalkulator-wrap-card {
    position: relative;
    background-color: var(--light-ylw);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.kalkulator-header img {
    width: 100%;
    height: 150px;
    border-radius: 5%;
    object-fit: cover;
}

.kalkulator-content {
    text-align: left;
}

.kalkulator-content h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.kalkulator-content p {
    margin: 0;
    font-size: 0.9em;
}

.items-body {
    display: flex;
    gap: 50px;
}

/* .items-body .items {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
} */

.summary-content {
    width: 100%;
}

.summary .x-button {
    justify-content: right;
    padding-top: 0;
    float: right;
    clear: right;
    /* justify-content: end; */
}

.summary .x-button button {
    margin-top: 0;
    background-color: transparent;
    border: none;
}

.total-price {
    text-align: right;
}

.kalkulator .calculate-button button {
    background: var(--ylw);
    transition: 0.2s ease-in-out;
}

.kalkulator .calculate-button button a {
    text-decoration: none;
    color: var(--gray-4);
    font-size: 16px;
}

.kalkulator .total-summary-body {
    width: 15em;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    justify-content: center;
}

.total-summary-body h5 {
    border-bottom: 2px solid var(--primary);
    text-align: center;
    padding-bottom: 10px;
    color: var(--primary);
}

.total-summary-body h6 {
    text-align: center;
    color: var(--primary);
    padding-top: 2%;
}

.calculate-toggler .cetak-button {
    width: 120px;
    height: 35px;
    padding: 5px 7px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border: 0;

    color: var(--gray-4);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;

    border-radius: 8px;
    background: var(--ylw);
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.25);

    transition: 0.2s ease-in-out;
}

.calculate-toggler .beranda-button {
    width: 120px;
    height: 35px;
    padding: 4px 7px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(--ylw);

    color: var(--gray-4);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;

    border-radius: 8px;
    background: white;
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.25);

    transition: 0.2s ease-in-out;
}

.calculate-toggler {
    gap: 5px;
}

.calculate-toggler button:hover {
    scale: 1.03;
}

.calculate-toggler button a {
    text-decoration: none;
    color: var(--gray-4);
}

.kalkulator .menu {
    gap: 20px;
    justify-content: center;
}

.kalkulator .menu-1 button {
    background-color: var(--primary);
    border: none;
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}

.kalkulator .menu-2 button {
    background-color: var(--ylw);
    border: none;
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}
