@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

:root {
    --ylw: #fcb600;
    --red: #ac0b05;
    --red-variant: #f11;
    --primary: #8f010a;
    --gray-4: #32393a;
    --gray-3: #747474;
    --gray-light: #f0f0f0;

    --info: #2f80ed;
    --success: #07dc61;
    --error: #f64040;
    --warning: #fbc216;
}

*,
*::before,
*::after {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    z-index: 3;
}

* {
    font-family: poppins;
}

/* DESKTOP VERSION */
@media (min-width: 992px) {
}

/* NAVBAR */
.navbar {
    background-color: var(--primary);
    width: 100%;
    z-index: 100;
}

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    transition: width 0.3s;
}

.nav-link:hover::after,
.nav-link:focus::after {
    width: 100%;
    background-color: white;
}

.nav-link {
    color: white !important;
    margin: 0 10px 0 10px;
}

.nav-link .active {
    color: black;
}

.cart img {
    margin-top: 0;
}

/* FOOTER */
.footer-wrapper {
    height: 462px;
    background-color: var(--primary);
    width: 100%;
}

.footer-wrapper .partner-logo img {
    margin: 5px;
}

.logo p {
    padding-top: 10px;
    text-align: center;
}

.footer h6,
p {
    color: white;
}

.footer p {
    font-size: 14px;
}

.footer .komen p {
    color: var(--ylw);
    font-size: 16px;
}

.komen .input,
textarea {
    border-radius: 5px;
    border-color: #a6a4a491;
    border-width: 1px;
    width: 100%;
}

.primary-button {
    display: flex;
    width: 76px;
    height: 37px;
    padding: 5px 7px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 0;

    color: var(--gray-4);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;

    border-radius: 8px;
    background: var(--ylw);
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.15);

    transition: 0.2s ease-in-out;
}

.primary-button:hover {
    scale: 1.03;
}

.copyright p {
    border-top: 3px solid var(--ylw);
    padding-top: 20px;
    color: white;
    text-align: center;
}

/* HERO */
.hero img {
    width: 100%;
    height: 650px;
}

.carousel-caption {
    position: absolute;
    top: 40%;
}

.carousel-caption h5 {
    font-weight: 700;
    text-align: center;
    font-size: 50px;
    color: var(--gray-light);
}

.hero-teks p {
    font-weight: 700;
    text-align: center;
    color: var(--gray-light);
}

/* KATALOG */
.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-1 button {
    background-color: var(--primary);
    border: none;
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}

.menu-2 button {
    background-color: var(--ylw);
    border: none;
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}

.menu-button:hover {
    scale: 1.03;
    transition: 0.2s ease-in-out;
}

.katalog .menu p {
    color: var(--gray-4);
}

.about .about-img img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.about .about-teks h3 {
    font-weight: bold;
}

.about .about-teks p {
    color: var(--gray-4);
}

/* VIDEO PROFILE */
.video-wrapper {
    background-color: var(--gray-light);
}

.video-title h3 {
    text-align: center;
    font-weight: bold;
}

.video-wrapper video {
    padding: 0;
    border-radius: 15px;
    width: 100%;
}

/* KALENDER EVENT */
.kalender-title h3 {
    text-align: center;
    font-weight: bold;
}

.slide-container {
    margin: 0 30px;
    overflow: hidden;
}

.card {
    background: #fff;
}

.card .image-box {
    height: 200px;
}

.card .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.swiper-wrapper .swiper-slide {
    border-radius: 8px;
}

.card .card-body {
    /* display: flex; */
    align-items: center;
    column-gap: 12px;
    padding: 15px;
}

.swiper-navBtn {
    color: #000;
    height: 40px;
    width: 40px;
    /* background: #fff; */
    border-radius: 50%;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 18px;
}

/* .card-container {
    display: flex;
    padding-block: 5rem;
}

.card-container .card {
    margin-inline: 10px;
    border-radius: 8px;
    overflow: hidden;
    height: 371px;
    width: 260px;
}

/* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    justify-content: center;
    align-items: center;
}

.card-container .card img {
    display: block;
    width: 262px;
    height: 212px;
    object-fit: cover;
}

.swiper-wrapper .card {
    width: 250px;
    height: 350px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.card-body {
    border-radius: 20px;
}*/

.card-body p {
    color: var(--gray-4);
}

.detail-button {
    width: 213px;
    height: 37px;
    padding: 5px 7px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border: 0;

    color: var(--gray-4);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;

    border-radius: 8px;
    background: var(--ylw);
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.15);

    transition: 0.2s ease-in-out;
}

.detail-button:hover {
    scale: 1.03;
}

/* BERITA TERKINI */
.berita {
    background-color: var(--gray-light);
}

.berita-title h3 {
    font-weight: bold;
}

.berita-wrapper .card {
    width: 100%;
    height: 227px;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.berita-wrapper .berita-content a {
    text-decoration: none;
    color: white;
}

.berita-wrapper .card img {
    border-radius: 15px;
    /* justify-content: space-between; */
}

.card-img-overlay {
    margin: 15px;
}

/* KATA MEREKA */
.kata-title h3 {
    font-weight: bold;
    text-align: center;
}

.wrapper {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.kata img {
    border-radius: 8px;
    /* display: block; */
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.kata .teks p {
    color: var(--gray-4);
}

.selengkapnya-button {
    display: flex;
    width: 124px;
    height: 37px;
    padding: 5px 7px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 0;

    color: var(--gray-4);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;

    border-radius: 8px;
    background: var(--ylw);
    box-shadow: 0px 4px 6px 0px rgba(165, 165, 165, 0.15);

    transition: 0.2s ease-in-out;
}

.selengkapnya-button:hover {
    scale: 1.03;
}

.kata-wrapper {
    background-color: green;
}

/* DESTINASI WISATA */
/* hero DESTINASI WISATA*/
.bg-image {
    background: rgba(0, 0, 0, 0.5) url(../assets/pict/destinasi.jpg) no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    height: 300px;
    position: relative;
    padding: 0;
}

.bg-image .hero {
    height: 250px;
    width: 100%;
}
.bg-image h1 {
    color: white;
    font-size: 50px;
    font-weight: 500;
}

/* menubar DESTINASI WISATA*/
.container .menubar {
    background-color: white;
    z-index: 95;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    margin-top: -50px;
    padding: 22px;
    border-radius: 12px;
    /* grid-column-gap: 10px; */
}
.container .menubar .menu {
    gap: 6px;
}
.container .menubar img {
    float: left;
    height: 16px;
    margin-right: 7px;
}
.container .menubar h4 {
    font-size: 13px;
    color: black;
}

.container .menubar a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    transition: width 0.3s;
    pointer-events: none;
}
.container .menubar a:hover::after,
.container .menubar a:focus::after {
    width: 100%;
    background-color: #8f010a;
}

/* .container .menubar {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.40);
    border-radius: 15px;
    margin-top: -50px;
    background-color: white;

}
.container .menubar img{
    float: left;
    width: 16px;
} */

/* MENU KATEGORI WISATA */
.wisata .tabs {
    margin-top: 28px;
}

.wisata .nav-tabs .nav-link.active {
    background-color: #fcb600;
    border-color: #fcb600;
}
.wisata .nav-tabs .nav-link {
    background-color: transparent;
    margin-right: 10px;
}
.wisata .nav-tabs .nav-link:hover {
    background-color: #fcb600;
}
/* .wisata .nav-tabs .nav-link a:hover::after {
    color: red;
    width: 100%;
} */
.wisata .tabs .nav .nav-item h4 {
    color: black;
    font-size: 15px;
}

/* search DESTINASI WISATA*/
.wisata .search {
    justify-content: center;
    margin-top: 50px;
}
.wisata .search h4 {
    font-size: 22px;
    font-weight: 600;
    text-align: right;
}
.wisata .search .btn {
    width: 250px;
    height: 46px;
    border-radius: 8px;
    border-color: rgba(189, 189, 189, 0.526);
    font-size: 15px;
    text-align: left;
    color: #a6a4a4;
    background-color: var(--gray-light);
}
.wisata .search .btn .dropdown-menu .show ul {
    z-index: 5;
    width: 250px;
}
.wisata .search .form-control {
    background-color: red;
    border-radius: 8px;
    position: relative;
}
.wisata .search .form-control {
    width: 280px;
    height: 46px;
    border-radius: 8px;
    border-color: rgba(189, 189, 189, 0.526);
    background-color: var(--gray-light);
    display: block;
    border: none;
}
/* .wisata .search .form:focus{
    outline: none;
}
.wisata .search .tombol{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none; */

/* .wisata .search .tombol .fa{
    color: red;
}
.wisata .search .tombol:hover .fa{
color: #07dc61;
}

.wisata .search .form-control::placeholder{
    font-size: 15px;
    color: #a6a4a4;
}
.wisata .serach .bi {
    position: absolute;
} */

/* .wisata .search .input-group {
    position: relative;
}
.wisata .search .input-group__input{
    color: blue;
    width: 330px;
    height: 46px;
    border-radius: 8px;
    border-color: rgba(189, 189, 189, 0.526);
    background-color: var(--gray-light);
    transition: outline-color 500ms;

}
.wisata .search .input-group input:is(:focus, :valid) {
    outline-color: red;
}
.wisata .search .input-group_label {
    position: absolute;
    top: 0;
    left: 0;
    translate: 10px 10px;
    color: blue;
    transition: translate 500ms, scale 500ms;
}
.wisata .search .input-group input:focus +
.wisata .search .input-group_label,
.wisata .search .input-group input:valid +
.wisata .search .input-group_label {
    padding-inline: 5px;
    translate: 10px -14px;
    scale: 0.8;
    background-color: red;
} */
/* CARDLIST DESTINASI WISATA */
.cardwisata {
    margin-top: 50px;
}
.cardwisata .card {
    z-index: 1;
}
.cardwisata .row {
    justify-content: space-between;
    /* position: relative; */
}
.cardwisata img {
    /* position: absolute; */
    width: 172px;
    height: 202px;
    border-radius: 8px;
    margin: 21px 15px 21px 15px;
}
.cardwisata .card-body {
    margin: 0 0 0 20px;
    justify-content: center;
    align-items: center;
}
.cardwisata .card-body h5 {
    font-size: 20px;
    font-weight: 600;
}

.cardwisata .card-body p {
    font-size: 13px;
}

.cardwisata .card-body a {
    font-size: 13px;
    font-weight: 600;
    color: black;
    background-color: #fcb600;
    border-color: #fcb600;
    border-radius: 8px;
    width: 160px;
    height: 36px;
}
.cardwisata .card-body .btn {
    transition: 0.2s all;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.cardwisata .card-body .btn:hover {
    background-color: #fcb600;
    border-color: #fcb600;
    font-weight: bolder;
    font-size: 15px;
}

/* DETAIL DESA WISATA */
/* hero */
.detail-desa .banner{
    position: relative;
}
.detail-desa .banner img {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    width: 100%;
    margin-top: 100px;
    border-radius: 20px;
    object-fit: cover;


}
.detail-desa h1 {
    margin: 0;
    color: white;
    font-size: 50px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    align-items: center;
}

/* CAROUSEL DETAIL DESA WISATA */
.galeri {
    margin-top: 50px;
}
.galeri img {
    width: 354px;
    height: 237px;
}

/* ================== RUMAH MAKAN ================== */
/* HERO */
.bg-image {
    background: url(../assets/pict/hero-wisata.jpg) no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
    padding: 0;
}

.bg-image .hero {
    height: 250px;
    width: 100%;
}

.bg-image h1 {
    color: white;
    font-size: 50px;
    font-weight: 500;
}

/* MENU BAR RUMAH MAKAN*/
.container .menubar{
    margin: 0 80px 0 80px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.40);
    margin-top: -30px;
    padding: 22px;
    border-radius: 12px;
}

.container .menubar img {
    float: left;
    height: 16px;
    margin-right: 7px;
}
.container .menubar h4 {
    font-size: 13px;
    color: black;
}

.container .menubar a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    transition: width 0.3s;
    pointer-events: none;
}

.container .menubar a:hover::after,
.container .menubar a:focus::after {
    width: 100%;
    background-color: #8f010a;
}

/* SEARCH RUMAH MAKAN*/
.kuliner .search {
    justify-content: center;
    margin-top: 50px;
}

.kuliner .search h4{
    font-size: 22px;
    font-weight: 600;
    text-align: right;
}

.kuliner .search .btn {
    width: 250px;
    height: 46px;
    border-radius: 8px;
    border-color: rgba(189, 189, 189, 0.526);
    font-size: 15px;
    text-align: left;
    color: #a6a4a4;
}

.kuliner .search .dropdown-menu{
    z-index: 5;
}

.kuliner .search .form-control {
 width: 330px;
 height: 46px;
 border-radius: 8px;
 border-color: rgba(189, 189, 189, 0.526);
}

.kuliner .search .form-control::placeholder{
    font-size: 15px;
    color: #a6a4a4;
}

.kuliner .serach .bi {
    position: absolute;
} */

/* CARD LIST*/
.cardkuliner {
    margin-top: 50px;
}

.cardkuliner .row {
    justify-content: space-between;
    /* position: relative; */
}

.cardkuliner img {
    /* position: absolute; */
    width: 172px;
    height: 202px;
    border-radius: 8px;
    margin: 21px 15px 21px 15px;
}

.cardkuliner .card-body{
    margin: 0 20px 0 25px;
    justify-content: center;
    align-items: center;
}

.cardkuliner .row .cardlist{
    z-index: -1;
}

.cardkuliner .card-body h5{
    font-size: 20px;
    font-weight: 600;
}

.cardkuliner .card-body p {
    font-size: 13px;
}

.cardkuliner .card-body a {
    font-size: 13px;
    font-weight: 600;
    color: black;
    background-color: #fcb600;
    border-color: #fcb600;
    border-radius: 8px;
    width: 160px;
    height: 36px;
}

.cardkuliner .card-body .btn{
    transition: .2s all;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.cardkuliner .card-body .btn:hover{
    background-color: #fcb600;
    border-color: #fcb600;
    font-weight: bolder;
    font-size: 15px;
}

/* ================== DETAIL RUMAH MAKAN ================== */
/* hero */
.container .banner{
    position: relative;
}

.banner img {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    width: 100%;
    margin-top: 70px;
    border-radius: 20px;
    object-fit: cover;
    height: 450px;
}

.container h1 {
    margin: 0;
    color: white;
    font-size: 50px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    align-items: center;
}

/* deskripsi rumah makan */
.deskripsi {
    background-color: var(--gray-light);
}

.row .card-title{
    color: #000000;
    font: 600 25px "Poppins", sans-serif;
}

.row .card-text{
    color: #000000;
    font: 400 13px "Poppins", sans-serif;
}

/* cardlist rumah makan */
.container .title-resto{
    font: 600 32px "Poppins", sans-serif;
    text-align: center;
}

.cardkuliner {
    margin-top: 50px;
}

.cardkuliner .row {
    justify-content: space-between;
    /* position: relative; */
}

.cardkuliner img {
    /* position: absolute; */
    width: 172px;
    height: 202px;
    border-radius: 8px;
    margin: 21px 15px 21px 15px;
}

.cardkuliner .card-body {
    margin: 0 20px 0 25px;
    justify-content: center;
    align-items: center;
}

.cardkuliner .card-body h5 {
    font-size: 20px;
    font-weight: 600;
}

.cardkuliner .card-body p {
    font-size: 13px;
}

.cardkuliner .card-body a {
    font-size: 13px;
    font-weight: 600;
    color: black;
    background-color: #fcb600;
    border-color: #fcb600;
    border-radius: 8px;
    width: 160px;
    height: 36px;
}

.cardkuliner .card-body .btn {
    transition: 0.2s all;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.cardkuliner .card-body .btn:hover {
    background-color: #fcb600;
    border-color: #fcb600;
    font-weight: bolder;
    font-size: 15px;
}

/* PENGINAPAN */
/* hero*/
#hero-section {
    background: url(../assets/pict/hero-deswisata.png) no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    position: relative;
    padding: 0;
}

#hero-section::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#hero-section .row {
    position: absolute;
    z-index: 1;
    align-items: center;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    width: 1294px;
}

#hero-section h1 {
    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: white;
    margin-bottom: auto;
}

#hero-section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: white;
    position: relative;
}

/* menubar page penginapan */
.container .menubar {
    margin: 0 80px 0 80 px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    margin-top: -30px;
    padding: 22px;
    border-radius: 12px;
}

.container .menubar img {
    float: left;
    height: 16px;
    margin-right: 7px;
    justify-content: center;
}

.container .menubar h4 {
    font-size: 13px;
}

/* search */
.search .row {
    margin: 33px 80px 0 80px;
}

.search .row .cari h4 {
    font-size: 22px;
    color: black;
    padding-right: 0px;
    font-weight: 600;
}

.search .row .cari .btn {
    width: 300px;
    margin-right: 31px;
    border-color: #a6a4a4;
}

.search .row .nada {
    font-size: 15px;
    color: #a6a4a4;
    font-weight: 5;
}

.search .row .input-container .form-control::placeholder {
    color: #a6a4a4;
    font-weight: 5;
    font-size: 15px;
    width: 455px;
    height: 46px;
    position: relative;
}

.search .row .input-container .form-control {
    width: 410px;
    padding-right: 10px;
    border-color: #a6a4a4;
    position: relative;
}

.search .row .input-container img {
    position: absolute;
    top: 380px;
    right: 120px;
    width: 17px;
    height: 17px;
}

/* CARDLIST PENGINAPAN */
.card-container {
    flex-shrink: 0;
    width: 1120px;
    height: 259px;
    position: static;
}
.card-border {
    background: #ffffff;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(221, 221, 221, 0.81);
    border-width: 1px;
    width: 1120px;
    height: 259px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.button-lihat-detail {
    background: #fcb600;
    border-radius: 8px;
    width: 247.7px;
    height: 35.51px;
    position: absolute;
    left: 609.65px;
    top: 183px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
}
.lihat-detail {
    color: #000000;
    text-align: center;
    font: 600 13px "Inter", sans-serif;
    position: absolute;
    left: 620.91px;
    top: 192.4px;
    width: 230.9px;
    height: 17.6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fcb600;
    border: none;
}
.hotel-mawar-asri {
    color: #000000;
    text-align: left;
    font: 600 24px "Poppins", sans-serif;
    position: absolute;
    left: 609.65px;
    top: 15px;
    width: 506.08px;
    height: 29px;
}
.rp-50-000-malam {
    color: #000000;
    text-align: left;
    font: 600 20px "Poppins", sans-serif;
    position: absolute;
    left: 609.65px;
    top: 138px;
    width: 279.73px;
    height: 29px;
}
.desa-joho-trenggalek {
    color: #000000;
    text-align: left;
    font: 400 14px "Roboto", sans-serif;
    position: absolute;
    left: 632.07px;
    top: 60px;
    width: 250.91px;
    height: 15px;
}
.mulai-dari {
    color: rgba(0, 0, 0, 0.9);
    text-align: left;
    font: 400 13px "Poppins", sans-serif;
    position: absolute;
    left: 609.65px;
    top: 121px;
    width: 105.7px;
    height: 17px;
}
.gambar-hotel {
    border-radius: 20px;
    border-style: solid;
    border-color: #7b7979;
    border-width: 1px;
    width: 562.67px;
    height: 259px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.vector {
    position: absolute;
    left: 612.85px;
    top: 61px;
    overflow: visible;
}
.hotel-kecil {
    background: rgba(166, 164, 164, 0.26);
    border-radius: 200px;
    padding: 4.59px 9.18px 4.59px 9.18px;
    display: flex;
    flex-direction: row;
    gap: 11.48px;
    align-items: center;
    justify-content: center;
    width: 83.28px;
    height: 24px;
    position: absolute;
    left: 1018.57px;
    top: 20px;
    backdrop-filter: blur(2.3px);
}
.hotel {
    color: var(--blackish-green, #112211);
    text-align: left;
    font: 400 12px "Montserrat", sans-serif;
    opacity: 0.75;
    position: relative;
}
